/server/gpio-lib/build/
/server/gpio-lib/dist/
/server/servo-drive/build/
/server/servo-drive/dist/
/server/rc-server/build/
/server/rc-server/dist/
/server/gpio-lib/*.a
/server/servo-drive/*.a
/client/android/rc-android/bin
/client/android/rc-android/gen
/client/android/rc-android/private
